header {width:100%;border:5px;border-style:solid;border-color:#000000}
article  {width:33%;border:2px;border-style:solid;border-color:#0000FF;float:left;}
footer {clear:both;}
body{background-color:#B0C4DE;}
h1,h2 {text-align:center;}
.box {width: 300px;border: 3px solid purple;border-radius: 25px;padding: 50px;margin: 20px;}
