header {width:100%;border:3px;border-style:solid;border-color:#444444}
article  {width:33.33%;border:3px;border-style:solid;border-color:#444444;float:left;}
footer {clear:both;}
h1,h2 {text-align:center;color:#00bb00}
