<h1{margin-left:auto;margin-right:auto;front-size:3em;front-weight:600}
<h2{margin-left:auto;margin-right:auto;front-size:2em;front-weight:500}
<h3{margin-left:auto;margin-right:auto;front-size:1.5em;front-weight:400}
p{front-size:1;front-weight:300}
body{background-color:0000ff;width:80%}
