header {width:99.33%;border:5px;border-style:solid;border-color:black}
footer {clear:both;}
body {background-color:#9e8262;}
h1 {font-size:2em;text-align:center;color:#f7b3d8}
h2 {text-align:center;color:#f7b3d8}


