header {width:99.33%;border:5px;border-style:solid;border-color:black}
article  {width:33%;border:2px;border-style:solid;border-color:black;float:left;}
footer {clear:both;}
body {background-color:#9e8262;}
h1,h2 {text-align:center;color:#f7b3d8}
.box {width: 300px;border: 3px solid black;padding: 50px;margin: 20px;}
#article1 {background-color:#9e8262;border-radius: 25px;border: 5px solid #f7b3d8;width:25%;padding:1em;margin:10px;}
#article2 {background-color:#9e8262;border-radius: 25px;border: 5px solid #f7b3d8;width:25%;padding:1em;margin:10px;}
#article3 {background-color:#9e8262;border-radius: 25px;border: 5px solid #f7b3d8;width:25%;padding:1em;margin:10px;}
