header {width:100%;border:4px;border-style:solid;border-color:black}
article  {width:32%;border:2px;border-style:solid;border-color:black;float:left;}
footer {clear:both;}
body {background-color:#9e8262;}
h1,h2 {text-align:center;color:#f7b3d8}
