header {width:99.33%; border:3px; border-style:solid; border-color:black}
article {width:33%; border:2px; border-style:solid; border-color:black; float:left;}
h1,h2 {text-align:center; color:#f7b3d8}
body {background-color:#9e8262;}
footer {clear:both;}
ul {list-style-type:none; margin:0; padding:0; overflow:hidden; background-color:#f7b3d8;}
ul {list-style-type:none; padding:0; margin: 0; width: 60px;}
li {background-color:#9e8262; padding:8px; display:block;}
hr {height:2px; border-width:0; color:black; background-color:black;}
a {display:block; padding:8px; background-color:#9e8262; color:#f7b3d8}
@media (max-width:600px) {float:none;}
img {width:auto; height:auto;}
.box {width:300px; border:3px solid black; border-radius:25px; padding:50px; margin:20px; color:black;}
