* {
  box-sizing: border-box;
}

/* header */
.header {

  padding: 20px;
  text-align: center;
}

/*body*/
body {
	.big{
		
	vertical-align:center;
	}
  margin: 0;
background-image:url(images/rbt.jpg);

}
h1 {
	font-size: 4em;
	text-align: center;
	background-image:url(images/OIP.jpg);
	color:#F4EFEF
}



p {
	font-size: 1.5em;
	text-align: center;
}


/* picture*/
img {
width:100%;
opacity:1.5;
  filter:alpha(opacity=80);
  border-left: 10px;
}

img:hover
{
  opacity:2.0;
  filter:alpha(opacity=111);
  text-align: center;
}



/* NAV */
.nav1 {
  overflow: hidden;
 background-image:url(images/rbt.jpg);
float:left; 
}

ul {
    list-style-type: none;
    margin: 1;
    padding: 1;
    overflow: hidden;
    background-color: #999;

}
 
li {
    float: left;
		border-right:1px #380606;

}
 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 89px;
    text-decoration: none;
}
.active {
    background-color: #380606;
float:left;
}
li a:hover {
    background-color: #111;
}




