h1 {margin-left:auto;margin-right:auto;font-size:3em;font-weight:500;}
h2 {margin-left:auto;margin-right:auto;font-size:2em;font-weight:400;}
body {background-image: url("PRY.jpeg");background-repeat: no-repeat;background-size: 100% 100%;}
a:link {color:Black;}
