header {width:99.33%;border:3px;border-style:solid;border-color:brown}
footer {clear:both;}
body {background-color:#B0C4DE;}
h1 {font-size:2em;text-align:center;color:#0000FF}
h2 {text-align:center;color:#f7b3d8}
