* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EEEEEE url(../images/bg.jpg) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
p {
    font-size：1.5em
    text-align:center
}


a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

h1,
a {
    font-family: Verdana;
    font-size: 1.5em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 3em;
}

header {
    margin: 50px;
}

nav {
    display: block;
    margin: 50px auto;
    width: 80%;
    font-size: 20px;
}

nav ul {
    height: 100%;
    overflow: hidden;
}

nav ul li {
    float: left;
    width: 25%;
    height: 100%;
    list-style: none;
    border-right: 1px solid #fff;
}

nav ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #333333;
}

nav ul li a:hover {
    background-color: #4caf50;
}

article {
    overflow: hidden;
    width: 75%;
    margin: auto;
    padding: 2em;
    border: 4px solid green;
    color: #ccc;
}

article p {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

article figure {
    float: left;
    display: block;
    margin: auto;
    width: 40%;
    margin: 20px 5%;
    /* background-color: #fff; */
}

article figure img {
    width: 100%;
    height: 400px;
    margin: auto;
}

article iframe {
    margin: 20px 0;
    border: 6px dotted orangered;
}

footer {
    width: 100%;
    height: 350px;
    margin-top: 50px;
    padding-top: 50px;
    background-color: #ccc;
}

footer p {
    font-weight: 700;
    color: #4caf50;
    text-align: center;
}

footer p a {
    font-weight: normal;
    text-decoration: none;
    color: #4caf50;
}

footer>p {
    color: #fff;
}

.f_top {
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
}

.f_top a {
    color: blue;
}

.f_bottom {
    width: 100%;
    height: 170px;
    text-align: center;
}

.f_bottom ul li {
    list-style: none;
    float: left;
    margin-left: 42%;
}

@media screen and (max-width: 600px) {
    li {
        float: none;
    }
}

