*{padding: 0;margin: 0;}
body{background-color:#9AE0D4}
.head{width: 100%px;height: 380px; background: url(1.png); margin: 0 auto;}
img{width: 2000px; height: 1130px}
.a{width: 900px;height: 70px;margin: 0 auto; margin-bottom: 50px-; z-index: 3;}
.b{width: 860px; height: 90px; background: #A0EAD4; margin: 0 auto;}
.c{width: 900px; height: 1000px; margin: 0 auto; position: relative; background: #74D4C4;}
.c_a{height: 1000px; left:-570px; margin: 0 auto; position:absolute; top: 00px; z-index: 2;}
.V{position: absolute;top: 24px; left: -230px; z-index: 4 ;width:1380px ;height:775px; }
table{width: 2000px; height: 600px; border-collapse: collapse; margin: 0 auto;}
table tr td{ background: #CCFFFF; border: #74D4C4 solid 10px;}
th{color:#112D12;font-size:2.5em}
td{color:#0A350A;font-size:2.5em}
.e{width: 2000px; height: 1700px;margin: 0 auto;}
.foot{width: 100%;height: 100px; background: url(1.png); margin: 0 auto;}
.foot_a{width: 100%px; bottom: 100px; height: 200px; background: #74D4C4; margin: 0 auto;}
h1{color:#112D12;font-size:7em;}
p{color:#112D12;font-size:5em;}
#mb{width: 250px;height:200px;}
#cpu{width: 250px;height:200px;}
#ram{width: 250px;height:200px;}
#gpu{width: 250px;height:200px;}
#ssd{width: 250px;height:200px;}
#fan{width: 250px;height:200px;}
#power{width: 250px;height:200px;}
#table0{border-radius: 10px 10px 10px 10px;}

#menu {
font-size: 15px;
font-weight: bolder;
margin: auto;

}
#menu li{
list-style-image: none;
list-style-type: none;
background-color: #A0EAD4;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #000000;
float: left;
margin: 0 auto;

}
#menu li a{
color: #0A350A;
text-decoration: none;
font-size: 30px;
margin: 1px;
padding-top: 25px;
display: block; /* 作为一个块 */
padding-right: 100px; /* 设置块的属性 */
padding-bottom: 25px;
padding-left: 100px;
}
#menu li a:hover{
background-color: #0099CC;
}
 #GoBackTop{
font-size: 50px;
font-weight: bolder; 
margin:0 auto;
 }  
 .footer0{
    line-height: 200px;/*垂直居中关键*/
    text-align:center;
    height: 200px;
    font-size: 36px;
    background-color: #74D4C4;
}
#contact{line-height: 100px;/*垂直居中关键*/
    text-align:center;
	font-weight: bolder;
    height: 200px;
    font-size: 40px;
    background-color:url(1.png);}
	

