header {width:100%;border:3px;border-style:solid;border-color:#FF00FF}
article {width:33%;border:2px;border-style:solid;border-color:#0000A0;float:left}
footer {clear:both;}
h1,h2 {text-align:center;}
