header {width:100%;border:5px;border-style:solid;border-color:#FF00FF}
article {width:33%;border:3px;border-style:solid;border-color:#0000A0;float:left}
footer {clear:both;}
body {background-color:#800080;
h1,h2 {text-align:center;}
.box {width: 33%;border: 2px; solid black;padding: 40px;margin: 15px;}
