<style>
table{border: 3px solid ##FFD700;}
body{background-color:#7D7DFF;}
h2,p{color:#191970;
background-color:#B8860B;}
h1{color:#F8F8FF;
   background-color:#9F35FF;
   font-size:3em;}
h4{color:#00FA9A;}
h5{color:#FFD700;}
p{font-size:1em;}
ul,ol{font-size: 12px;}
hr{background-color:#4B0082;}

</style>
