      body{background-color:#D6EAF8}
      h1{color:#000000}
      h2{color:#5D6D7E}
      h3{color:#212F3D}
      table{border:2px solid}
      td{border:2px solid}
      img{width:70%;height:10000%;align:center}
      p{font-weight:bold;font-size:1.1em;}
      li{font-size:14px;}
