*{font-size:1em}
#box1 {background-color: #A52A2A; border:15px solid #0000FF;widt:15%;padding:2em;margin:35px;margin-left:50%;margin-top:60%}
#box2 {background-color: #0000A0; border:15px solid #0000FF;width:15%;padding:3em;margin:35px;margin-left:50%;margin-top:60%}
#box3 {background-color: #A52A2A; border:15px solid #0000FF;width:15%;padding:2em;margin:35px;margin-left:50%;margin-top:60%}
#box4 {background-color: #0000A0; border:15px solid #0000FF;width:15%;padding:3em;margin:35px;margin-left:50%;margin-top:60%}

