h1{color:orange;font-size:1em;text-align:center;}
*{font-size:1.5em}
#box1{background-color:#228B22;border:3px solid #800000;width:42%;padding:3em;margin:20px;}
#box2{background-color:#87CEEB;border:3px solid #835C3B;width:40%;padding:4em;margin:40px;margin-left:60%;}
#box3{background-color:#f7b3d8;border:3px solid #9e8262;width:38%;padding:1em;margin:10px;}
#box4{background-color:#9e8262;border:3px solid #f7b3d8;width:36%;padding:1em;margin:10px;margin-left:60%;}
