*{font-size:1.5em}
#box1{background-color:#800000;border: 3px solid #FFA500;width:40%;padding:2em;margin:30px;}
#box2{background-color:#800080;border: 3px solid #FFA500;width:40%;padding:3em;margin:30px;}
