*{font-size:1.5em}
#box1{background-color:#DD3333;border: 15px solid #0000dd;width:15%;padding:10px;margin:40px;margin-top:50%;margin-left:60%}
#box2{background-color:#DD3333;border: 15px solid #0000dd;width:15%;padding:10px;margin:40px;margin-top:50%;margin-right:60%;}
#box3{background-color:#DD3333;border: 15px solid #0000dd;width:15%;padding:10px;margin:40px;margin-top:50%;margin-left:60%;}
#box4{background-color:#DD3333;border: 15px solid #0000dd;width:15%;padding:10px;margin:40px;margin-top:50%;margin-right:60%;}
