h1{color:black;}
*{font-size:1.5em}
#box1{background-color:#0000A0;border: 3px solid #b53389;width:50%;padding:2em;margin:20px;}
#box2{background-color:#b53389;border: 3px solid #0000A0;width:50%;padding:2em;margin:20px;}
