h1{color:black;}
*{font-size:1.5em}
#box1{background-color:#9e8262;border: 7px solid #f7b3d8;width:50%;padding:2em;margin:20px;}
#box2{background-color:#f7b3d8;border: 7px solid #9e8262;width:50%;padding:2em;margin:20px;margin-right:50%;margin-top:50%;}
